.catclass{
    display: inline-block;
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
    padding-top: 50px;
    padding-left: 50px;
    
}

#tittle{
    position: absolute;
    bottom: 10px;
    display: inline-block;
    left: 70px;
    font-size: 2em;
    color: #fff;
    
}

.catclass img {
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
    float: left;
    width:  300px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;

}



.slider-continer {
    width: 80vw;
    margin: 0 auto;
    
}

.RestDiv{
    background-color: white;
}

/* Header */
#restaurant-header {
    background-color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restaurant-header-logo {
    float: left;
}

#restaurant-header-logo span{
    color: #8D9499;
    font-weight: 800;
    display: inline-block;
    font-size: 20px;
}

#restaurant-header-log-in {
    float: right;
    display: block;
}

#restaurant-header-log-in :hover{
    cursor: pointer;
}


#restaurant-header-log-in svg {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

#restaurant-header-log-in span{
    color: #8D9499;
    font-weight: 800;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 0.5em;
}

#restaurant-header-search-bar {
    width: 300px;
    display: inline-block;
    margin: 0 auto;
}