.catclass{
    display: inline-block;
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
}

.catclass img {
    float: left;
    width:  224px;
    height: 142px;
    object-fit: cover;
    border-radius: 4px;
    /* Here's the trick */
    background-size: cover;
    position: relative;
}

#tittle{
    position: absolute;
    bottom: 5px;
    display: inline-block;
    left: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.slick-next:before, .slick-prev:before {
    color: black;
}



/* Header */
#restaurant-header {
    background-color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E1E5E8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 900;
}

#restaurant-header-logo {
    float: left;
}

#restaurant-header-logo span{
    color: #8D9499;
    font-weight: 800;
    display: inline-block;
    font-size: 20px;
}

#restaurant-header-log-in {
    float: right;
    display: block;
}

#restaurant-header-log-in :hover{
    cursor: pointer;
}


#restaurant-header-log-in svg {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

#restaurant-header-log-in span{
    color: #8D9499;
    font-weight: 800;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 0.5em;
}

#restaurant-header-search-bar {
    width: 300px;
    display: inline-block;
    margin: 0 auto;
}

#pop-up-window-bottom span{
    color: #0d4696;
}

/* Restaurant List */

.restaurant-item{
    padding: 4px;
    margin: 1em auto;
    border-radius: 4px;
    display: flex;
    position: relative;
    line-height: 2em;
    background-color: #fff;
    
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc; */
    
}

.restaurant-item::after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.restaurant-item:hover{
    -webkit-transform: scale(1.20, 1.20);
    transform: scale(1.01, 1.01);
}

.restaurant-item:hover::after{
    opacity: 1;
}

.restaurant-item img{
    width: 218px;
    height: 139px;
    border-radius: 2px;
}

#restaurant-item-detail {
    flex-grow: 1;
    margin-left: 2em;
}

#restaurant-item-rate-wrapper {
    display: flex;
    align-items: center;
}

#rest-name {
    font-size: larger;
    font-weight: bold;
}

.restaurant-item em{
    font-style: normal;
    margin: 0 5px;
    color: #e8e8e8;
}

.restaurant-item-rate-txt {
    margin-left: 0.5em;
    font-size: small;
    font-weight: bolder;
}

.excellent {
    color: #EA120E;
}

.good {
    color: #F64922;
}

.ok {
    color: #F99F21;
}

#number-of-comments {
    margin-left: .5em;
    font-size: small;
    color: #999999;
}

#number-of-dollar {
    font-size: small;
    color: #999999;
}

.restaurant-item-address-wrapper {
    color: #999999
}

#rest-tele{
    color: #999999
}

/* review-item-wrapper */
.review-item-wrapper {
    width: 100%;
    padding: 1em;
    display: flex;
}

.review-item-avatar-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
}

#review-item-rate {
    margin-top: .5em;
}

#review-item-rate span{
    font-size: 14px;
    vertical-align: middle;
}

#review-item-date {
    margin-left: 1em;
    color: #8c8c8c;
}

.review-item-wrapper p {
    color: #282828;
    line-height: 24px;
    font-size: 14px;
    margin-top: 14px;
    word-break: break-all;
}